<div class="row">
    <h1>Course</h1>

    <div>{{{course.name}}}</div>
    <div>{{{course.description}}}</div>

    <a class="btn btn-primary" href="/course/edit/{{course.id}}">Edit course</a>
</div>

<div class="row">
    <h1>Questions</h1>

    <a class="btn btn-primary" href="/course/{{course.id}}/question/add">Add a question</a>

    <table class="table">
        {{#course.questions}}
        <tr>
            <td>
                <a href="/course/{{../course.id}}/question/{{id}}">{{{question}}}</a>
            </td>
            <td>
                <a href="/course/{{../course.id}}/question/{{id}}/edit" class="btn btn-warning">Edit</a>
                <a class="btn btn-danger" href="/course/{{../course.id}}/question/{{id}}/delete">Delete</a>
            </td>
        </tr>
        {{/course.questions}}
    </table>
</div>
