<div class="row">
    <h1>Course</h1>
    {{course.description}}
</div>
<div class="row">
    <h1>Questions</h1>

    <a class="btn btn-primary" href="/course/{{course.id}}/question/add">Add a question</a>

    <table class="table">
        {{#course.questions}}
        <tr>
            <td>
                <a href="/course/{{../course.id}}/question/{{id}}">{{question}}</a>
            </td>

            <td>
                <a class="btn btn-warning" href="/course/{{../course.id}}/question/{{id}}/delete">Delete</a>
            </td>

            <td>
                <a class="btn btn-warning" href="/course/{{../course.id}}/question/{{id}}/edit">Edit</a>
            </td>
        </tr>
        {{/course.questions}}
    </table>
</div>
