<div class="row">
    <h1>User</h1>

    {{user.firstName}} {{user.lastName}}

</div>
<div class="row">

<h1>Quizzes</h1>
<table class="table" >
    {{#quizzes}}
        <tr>
            <td>
                {{details.name}}
            </td>
            <td>
                {{status}}
            </td>
            <td>
                {{#if score}}
                    {{score}}%
                {{/if}}
            </td>
            <td>
                {{# unless cancelled}}
                    {{#if active}}
                        <a class="btn btn-success" href="/quiz/{{_id}}/answer/0" >Start</a>
                    {{else}}
                        <a class="btn btn-success" href="/quiz/{{_id}}/results" >Results</a>
                    {{/if}}
                {{/unless}}
            </td>
        </tr>
    {{/quizzes}}
</table>


</div>
