<div class="row">

<h1>Question</h1>

{{question.question}}

</div>

<div class="row">
    <h1>Options</h1>

    <a class="btn btn-primary" href="/course/{{course_id}}/question/{{question.id}}/option/add">Add option</a>

    <table class="table">
        <tr>
            <th>
                Option
            </th>
            <th colspan="2">
                Correct answer
            </th>
        </tr>
        {{#question.options}}
            <tr>
                <td>
                    {{answerOption}}
                </td>
                <td>
                    {{isAnswer}}
                </td>
                <td>
                    <form class="" action="/course/{{../course_id}}/question/{{../question.id}}/option/{{_id}}/delete" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {{/question.options}}
    </table>
</div>
