<div class="row">

	<div class="col-md-8">
		<h1>Quiz ...</h1>
		{{details.name}}
		<form  action="/quiz/{{quiz_id}}/answer/{{question_nr}}" method="POST" >
			<input type="hidden" name="questionType" value="{{question.questionType}}">
			<h2>{{question.question}}</h2>
			<textarea name="answerText" rows="8" cols="40" class="form-control"></textarea>
			<button class="btn btn-success">Answer</button>
		</form>
	</div>


</div>
