<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>

        <a class="btn btn-primary" href="/user/add" class="btn">Add user</a>

        <table class="table">
            <tr>
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th colspan="2">
                    Username
                </th>
            </tr>
            {{#users}}
            <tr>
                <td>
                    {{firstName}}
                </td>
                <td>
                    {{lastName}}
                </td>
                <td>
                    <a href="/quiz/profile/{{githubUsername}}">{{githubUsername}}</a>
                </td>
                <td>
                    <a class="btn btn-warning" href="/user/edit/{{githubUsername}}" >Edit</a>
                </td>

            </tr>
            {{/users}}
        </table>
    </div>


</div>
