<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>

        <a class="btn btn-primary" href="/user/add" class="btn">Add user</a>

        <table class="table">
            <tr>
                <th></th>
                <th>
                    Active
                </th>
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th colspan="2">
                    Username
                </th>
            </tr>
            {{#users}}
            <tr>
                <td>
                    <a target="_blank" href="http://bootcamp.projectcodex.co/selfies/{{githubUsername}}.png"><img style="height:100px;" src="http://bootcamp.projectcodex.co/selfies/{{githubUsername}}.png" alt=""></a>
                </td>
                <td>
                    <input type="checkbox" class="activateUser" name="active" onchange="toggleUserState('{{_id}}')" value="{{_id}}" {{#if active}} checked {{/if}} >
                </td>
                <td>
                    {{firstName}}
                </td>
                <td>
                    {{lastName}}
                </td>
                <td>
                    <a href="/user/{{githubUsername}}">{{githubUsername}}</a>
                </td>
                <td>
                    <a class="btn btn-warning" href="/user/edit/{{_id}}" >Edit</a>
                </td>

            </tr>
            {{/users}}
        </table>
    </div>
</div>
<script type="text/javascript">
    function toggleUserState(_id){

        var url = "/api/v2/users/" + _id + "/toggle_status";
        qwest
            .post(url, {
                _id : _id
            })
            .then(function(xhr, results){
                if (results.status === "error"){
                    alert(results.error);
                    return;
                }
            })
            .catch(function(err){
                alert(err);
            });
    }
</script>
