<div class="row">
    <h1>User</h1>

    {{user.firstName}} {{user.lastName}}

</div>
<div class="row">

<h1>Questionairres</h1>
<table class="table" >
    {{#questionairres}}
        <tr>
            <td>
                {{details.name}}
            </td>
            <td>
                {{status}}
            </td>
            <td>
                {{#if active}}
                    <a class="btn btn-success" href="/quiz/{{_id}}/answer/0" >Start</a>
                {{else}}
                    <a class="btn btn-success" href="/quiz/{{_id}}/results" >Results</a>
                {{/if}}
            </td>
        </tr>
    {{/questionairres}}
</table>


</div>
