<div class="row">
    <h1>User</h1>

    {{user.firstName}} {{user.lastName}}

</div>
<div class="row">
    <h1>UserGroups</h1>
    <div class="col-sm-6">
        <table class="table">
            <tr>
                <th>
                    Group name
                </th>
            </tr>
            {{#groups}}
            <tr>
                <td>
                    {{name}}
                </td>
            </tr>
            {{/groups}}
        </table>
    </div>
</div>
<div class="row">
<div class="col-sm-6">

<h1>Questionairres</h1>

<table class="table" >
    {{#quizzes}}
        <tr>
            <td>
                {{details.name}}
            </td>
            <td>
                {{status}}
            </td>
            <td>
                {{#if score}}
                    {{score}}%
                {{/if}}
            </td>
            <td>
                {{#unless cancelled}}
                    {{#if active}}
                        <a class="btn btn-success" href="/quiz/{{_id}}/cancel" >Cancel</a>
                    {{else}}
                        <a class="btn btn-success" href="/quiz/{{_id}}/results" >Results</a>
                    {{/if}}
                {{/unless}}
            </td>
        </tr>
    {{/quizzes}}
</table>
</div>
<div class="col-sm-6">

<h1>Hunches</h1>
<table class="table" >
    <tr>
        <th>
            Status
        </th>
        <th>
            Description
        </th>
        <th>
            Recorded by
        </th>
        <th>
            Recorded at
        </th>
    </tr>
    {{#each user.hunches}}
        <tr>
            <td>
                <span class="label label-{{status}}">&nbsp;</span>
            </td>
            <td>
                {{description}}

            </td>
            <td>
                {{_mentor.firstName}}
                {{_mentor.lastName}}
            </td>

            <td>
                {{createdAt}}
            </td>

        </tr>
    {{/each}}
</table>
</div>

</div>
