
<div class="row">
    <div class="col-md-12">

        <h1>Add user group</h1>
        <form action="/groups/add" method="POST">
            <div class="form-group {{#if messages.errorFields.[0].firstName }} has-error {{/if}}">
                <label for="name">Group name</label>
                <input type="text" class="form-control" id="name" placeholder="enter group name" name="name" value="{{messages.fields.[0].name}}">
            </div>

            <h2>Users</h2>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Full name</th>
                    <th>GitHub username</th>
                </tr>
                {{#users}}
                <tr>
                    <td>
                        <input type="checkbox" name="userId" value="{{_id}}">
                    </td>
                    <td>
                        {{firstName}} {{lastName}}
                    </td>
                    <td>
                        {{githubUsername}}
                    </td>
                </tr>
                {{/users}}
            </table>

            <button class="btn btn-success">Add group</button>
        </form>
    </div>
    <style media="screen">
        error-messages {

        }
    </style>
</div>
