
<div class="row">
    <div class="col-md-12">

        <h1>Edit user group</h1>
        <form action="/groups/update/{{userGroup._id}}" method="POST">
            <div class="form-group ">
                <label for="name">Group name</label>
                {{userGroup.name}}
            </div>
            <div class="form-group ">
                <label for="name">Registration code</label>
                <input type="text" name="registrationCode" value="{{userGroup.registrationCode}}">
            </div>

            <div class="form-group ">
                <label for="name">Active for registration</label>
                <input type="checkbox" name="activeForRegistration" value="true" {{#if userGroup.activeForRegistration}}checked{{/if}}  >
            </div>
            <label for="name">Number of users : </label>{{userCount}}<br />
            <button type="submit" class="btn btn-success" name="update_details" value="true">Update</button>

            <h2>Users</h2>
            <table class="table">
                {{#users}}
                <tr>
                    <td>
                        <input type="checkbox" name="userId" value="{{_id}}">
                    </td>
                    <td>
                        <a href="/user/{{githubUsername}}">{{firstName}} {{lastName}}</a>

                    </td>
                    <td>
                        {{email}}
                    </td>
                    <td>
                        {{githubUsername}}
                    </td>
                    <td>
                        <a target="_blank" href="http://bootcamp.projectcodex.co/selfies/{{githubUsername}}.png"><img style="height:100px;" src="http://bootcamp.projectcodex.co/selfies/{{githubUsername}}.png" alt=""></a>
                    </td>
                    <td>
                        <a class="btn btn-info" href="/hunches/add/{{githubUsername}}/mentor/{{../mentor_username}}/group/{{../userGroup._id}}">Add hunch</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/user/edit/{{_id}}" >Edit</a>
                    </td>
                </tr>
                {{/users}}
            </table>
            <a class="btn btn-warning" href="/groups/{{userGroup._id}}/users/add">Add users</a>
            <button type="submit" class="btn btn-danger" name="remove_users" value="true">Remove users</button>
        </form>

        <h2>Quizzes</h2>
        <table class="table">
            {{#quizzes}}
                <tr>
                    <td>
                        {{_user.firstName}}
                    </td>
                    <td>
                        {{_user.lastName}}
                    </td>
                    <td>
                        {{details.name}}
                    </td>
                    <td>
                        {{status}}
                    </td>
                    <td>
                        {{#if score}}
                        {{score}}%
                        {{/if}}
                    </td>
                    <td>

                        <a class="btn btn-danger" href="/quiz/{{_id}}/group/{{../userGroup._id}}/reset" >Reset</a>
                        <a class="btn btn-success" href="/quiz/{{_id}}/results" >Results</a>

                    </td>
                </tr>
            {{/quizzes}}
        </table>
    </div>
    <style media="screen">
        error-messages {

        }
    </style>
</div>
