<div class="row">

<h1>Question</h1>

{{{question.question}}}

<h2>Question type</h2>
{{question.questionType}}

</div>

{{#if mcq }}
<div class="row">
    <h1>Options</h1>

    {{#if canAddOption}}
    <a class="btn btn-primary" href="/course/{{course_id}}/question/{{question.id}}/option/add">Add option</a>
    {{/if}}

    <table class="table">
        <tr>
            <th>
                Option
            </th>
            <th colspan="3">
                Correct answer
            </th>
        </tr>
        {{#question.options}}
            <tr>
                <td>
                    {{{answerOption}}}
                </td>
                <td>
                    {{isAnswer}}
                </td>
                <td>
                    <a class="btn btn-warning" href="/course/{{../course_id}}/question/{{../question.id}}/option/{{_id}}/edit">Edit</a>
                </td>
                <td>
                    <form class="" action="/course/{{../course_id}}/question/{{../question.id}}/option/{{_id}}/delete" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {{/question.options}}
    </table>
</div>
{{/if}}
