<div class="row">

	<div class="col-md-12">

		<h2>{{name}}</h2>
		<span class="label label-default">{{progress_message}}</span>
		
		<form  action="/quiz/{{quiz_id}}/answer/{{question_nr}}" method="POST" >
			<strong>{{{question}}}</strong>
			{{#each options}}
			<div class="radio">
			  <label>
			    <input type="radio" name="answer_id" value="{{this._id}}">
			    	{{{this.answerOption}}}
			  </label>
			</div>
			{{/each}}

			<button class="btn btn-success">Answer</button>
		</form>
	</div>


</div>
